# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Project Data & Results
data/
*.csv
*.xlsx

# Local config (if any)
local_config.py

mvp_race_images/
\
pbp_2025.csv
mvp_all_game_stats_2025.json\
